@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gluten:wght@400;700&family=MuseoModerno&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

*{
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --fuenteh1: 'Gluten', cursive;
    --fuentemenus: 'MuseoModerno', cursive;
    --fuentetareas: 'Dancing Script', cursive;
    --colorprincipal: #0c16a3;
    --segundocolorprincipal: #090f63;
    --colorsecundario: rgb(206, 200, 200);
}

body {
    font-family: var(--fuentemenus);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.wrapper {
    width: 90vw;
    padding: 15px;
    border-radius: 30px 10px;
    box-shadow: 5px 5px 10px black;
}

/* Inicio de header */

.wrapper header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

hr {
    width: 100%;
    color: whitesmoke;
    margin: 20px 0px;
    box-shadow: 0px 0px 2px var(--colorsecundario);
}

.wrapper header h1 {
    width: 100%;
    font-family: var(--fuenteh1);
    font-size: 10vw;
    font-weight: 700;
    color: var(--colorprincipal);
    margin: 20px auto;
}

.wrapper header h1 span {
    font-style: italic;
    font-weight: 400;
    color: var(--segundocolorprincipal);
}

.wrapper header aside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.wrapper .nuevo {
    width: calc(50% - 10px);
    margin-right: 10px;
    color: var(--colorprincipal);
    background-color: white;
    font-size: 3vw;
    cursor: pointer;
    padding: 5px;
    transition: 0.75s;
}

.wrapper .filtros {
    width: calc(50% - 10px);
    margin-left: 10px;
    color: var(--colorprincipal);
    background-color: white;
    font-size: 3vw;
    cursor: pointer;
    padding: 5px;
    transition: 0.75s;
}

.wrapper .nuevo:hover {
    color: white;
    background-color: var(--colorprincipal);
    border-radius: 30px 10px;
}

.wrapper .filtros:hover {
    color: white;
    background-color: var(--colorprincipal);
    border-radius: 10px 30px;
}

.wrapper .filtroextendido {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper .filtroextendido #filtroprioridad {
    width: 40%;
    font-family: var(--fuentemenus);
    color: white;
    background-color: var(--colorprincipal);
    border-radius: 5px;
    border: 5px solid var(--colorprincipal);
    font-size: 2vw;
}

.wrapper .filtroextendido #filtroprioridad option {
    color: var(--colorprincipal);
    background-color: white;
}

.wrapper .filtroextendido #filtrotexto {
    width: 40%;
    font-family: var(--fuentemenus);
    font-size: 2vw;
    background-color: var(--colorprincipal);
    border-radius: 5px;
    border: 2px solid var(--colorprincipal);
    color: white;
    transition: 0.75s;
    padding: 5px;
}

.wrapper .filtroextendido #filtrotexto:focus {
    background-color: white;
    border: 2px solid var(--colorprincipal);
    padding: 5px;
    color: var(--colorprincipal);
    outline: none;
}

/* Final de header */

/* Inicio de main */

main .pendientes, main .completadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .pendientes .enlaces, main .completadas .enlaces {
    margin-bottom: 10px;
}

main .pendientes .enlaces a, main .completadas .enlaces a {
    text-decoration: none;
    cursor: pointer;
    color: var(--colorprincipal);
}

main .pendientes .enlaces a:hover, main .completadas .enlaces a:hover {
    text-shadow: 0 0 5px gold;
}

main article {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 5px;
    transition: 0.75s;
}

main article:hover {
    background-color: whitesmoke;
}

main article div {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    border: 2px solid var(--colorsecundario);
    margin-right: 10px;
}

main article p {
    margin-right: 10px;
    cursor: default;
}

main .completadas article p {
    margin-right: 10px;
    text-decoration: line-through grey;
}

main article i {
    margin-left: auto;
    font-size: 1.2em;
    color: var(--colorprincipal);
    cursor: pointer;
    transition: 1s;
}

main article i:hover {
    transform: rotate(360deg);
    color: red;
}

.diaria {
    background-color: green;
}

.mensual {
    background-color: yellow;
}

.urgente {
    background-color: red;
}

/* Final de main */

/* Animaciones */

.flex {
    animation-name: flex;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes flex {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.flox {
    animation-name: flox;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes flox {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}